.parent{
    display:flex;
    text-align: center;
    flex-direction: column;
    height: 85vh;
    font-size: 1.75rem;
}
.parent span {
    color: rgb(39, 125, 165);
}

.child{
display: flex;
flex-direction: row;
gap: 50px;
justify-content: space-between;
}
.roomIdInfo{
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 1.5rem;
}
.toast{
    position: absolute;
    z-index: 1;
    right: 50px;
    bottom: 50px;
    font-weight: 600;
}
@media only screen and (max-width: 830px) {
    .child{
        flex-direction: column;
    }
    .parent{
        height: max-content;
    }
  }