.SBparent{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin: 30px 0 0 50px;
}

.SBchild{
    display: flex;
    gap: 30px;
    align-items: center;
}
.SBchild .moves {
    background: black;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    right: 45px;
    bottom: 35px;
}

@media only screen and (max-width: 830px) {
    .SBchild{
        display: flex;
        flex-direction: column;
        gap: 5px ;
    }
    .SBchild .moves {
        right: 0;
        bottom: 0;
        width: 25px;
        height: 25px;
        font-size: 0.9rem;
    }
    .SBparent{
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    .playerLead{
        margin: 10px 0 0 0 !important;
    }

  }